body {
    text-align: center;
    margin: 0.5em;
}

.column {
    border: 1px solid black;
    margin: 3em;
    border-radius: 2.5%;
}

#catDisplay img,
#dogDisplay img {
    height: 500px;
    width: 600px;
    border-radius: 25%;
}

.page-title {
    margin-left: -100%;
    color: white;
    text-shadow: 3px 3px black;
    padding-top: 5px;
    padding-bottom: 15px;
}

#dogProgress,
#catProgress {
    height: 50px;
}

.voteBtn{
    font-size: 20px;
}

.voteBtn:hover {
    background-color: darkgray;
    font-size: 23px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* button > span > i {
    pointer-events: none;
} */
